<h1><%= @flat.name %></h1>

<%= link_to 'Edit', edit_flat_path(@flat)  %>
<%= link_to 'DELETE', flat_path(@flat), method: :delete  %>
<p><%= @flat.description %></p>
<p><%= @flat.address %></p>
<p><%= @flat.price_per_night %> euro</p>
<p>Number of guests: <%= @flat.number_of_guests %></p>
<%= cl_image_tag @flat.photo, height: 300, width: 400, crop: :fill %>
